button,
input[type="button"] {
  outline: none;
  &:focus {
    outline: none;
  }
}

.select--placeholder {
  @include form-select;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

select,
.select--placeholder {
  height: 3.5rem;
  &:invalid {
    color: $medium-gray;
  }
}
option:not([disabled]) {
  color: $black;
}

::placeholder {
  color: $medium-gray;
}

label {
  color: var(--theme-color);
}

.button[disabled] {
  &.primary,
  &.secondary,
  &.warning,
  &.alert {
    background-color: $light-gray;
    &:hover {
      background-color: $light-gray;
    }
  }
}

input[type="submit"].button.primary {
  color: $white;
  &:hover {
    color: $white;
  }
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .button {
    flex-basis: 9rem;
  }
}

legend {
  color: var(--theme-color);
  font-size: $form-label-font-size;
}

.button {
  background-color: var(--theme-color);
  // Disable Foundation border which would not get the hover effect and thus look ugly.
  border: none;
  &:focus {
    background-color: var(--theme-color);
    color: $white;
  }

  // TODO: Check if hover states for disabled buttons can be switched off globally.
  &:disabled {
    background-color: $light-gray; // FIXME: Remove and find better override of Foundation default styling (which keeps the button color for secondary)
    &:hover {
      background-color: $light-gray;
      background-image: none;
    }
  }
  &.small {
    padding: 0.5rem 0.625rem;
    font-weight: 700;
  }
}

.button--inverted {
  &:hover,
  &:focus {
    background-color: $white;
    color: var(--theme-color);
  }
}

.button--no-margin {
  margin: 0;
}

@media (hover: hover) {
  .button {
    &:hover {
      background-color: var(--theme-color);
      color: $white;
      background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(74, 74, 74, 0.15) 95%
      );
      .svg--blue {
        color: $white;
        fill: $white;
      }
    }
  }

  .button--inverted:disabled:hover {
    background-color: initial;
    .svg--blue {
      color: var(--theme-color);
      fill: var(--theme-color);
    }
  }
}

.button--inverted {
  color: var(--theme-color);
  background-color: $white;
  border: 1px solid $light-gray;
}

.button--fourths {
  width: 25%;
}

.button.expanded:not(.clear),
.button--shadow {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.custom-radio__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* Customize the label */
.custom-radio__option {
  margin-bottom: $global-margin;
  border: $input-border;
  border-radius: $input-radius;
  user-select: none;
  width: 45%;

  &.input-hidden {
    input {
      /* Hide the default input element */
      position: absolute;
      opacity: 0;
    }
  }

  &:not(.input-hidden) {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin: 0.5rem 0 0 0;
    }
  }

  label {
    cursor: pointer;
    color: $medium-gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 0.25rem 0;
  }
  /* On mouse-over, add a grey background color */
  &:hover {
    background-color: $light-color;
  }
  &.selected {
    border: 1px solid var(--theme-color);
    box-shadow: 0 0px 4px var(--theme-color);
    label {
      color: var(--theme-color);
    }
  }
}

.custom-radio__icon {
  width: 1.25rem;
}

.button > [class^="svg--"] {
  width: 100%;
  margin: 0 auto;
}

.buttonrow--inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button {
    width: 47.5%;
  }
}

.button--symbol {
  min-width: 3rem;
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .svg--inline {
    margin-left: 0.25rem;
    width: initial;
  }
}

.extension-filter {
  padding: 1rem;
}

.button--slim {
  padding: 0.5rem;
  &.active {
    color: var(--theme-color);
  }
}

.button:active:not([disabled]) {
  box-shadow: inset 3px 3px 3px 0 rgba($dark-gray, 0.5);
}

.grayscale {
  filter: grayscale(100%);
}

hr {
  margin-bottom: 1rem;
  .vuedal.xs & {
    margin-left: -17.5%;
    margin-right: -17.5%;
  }
}
