.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
  transition: transform 0.25s;
}

.slide-top-enter,
.slide-top-leave-to {
  transform: translateY(-2rem);
}

.unroll-top-enter {
  max-height: 0;
}

.unroll-top-enter-to {
  max-height: 100vh;
}

.unroll-top-enter-active {
  overflow: hidden;
  transition: max-height 0.5s;
}
