@import "fonts";

// Headings are explicitly set in Foundation base.scss rules
html[lang="ko-KR"] {
  body,
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: "Alegreya Sans", "Noto Sans KR", Helvetica, Arial, sans-serif;
  }
  em {
    // TODO: Emphasis in CJK is usually expressed with a serif font:
    // https://stackoverflow.com/a/21034761
    font-style: normal;
  }
}

// TODO
// html[lang=" ja-JP"]
// html[lang="vi-VN"]

html {
  background-color: var(--theme-color);
  height: -webkit-fill-available;
}

body {
  touch-action: none;
  user-select: none;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.container-padding {
  padding: 1rem 2.5rem;
  @include breakpoint(medium) {
    padding: 1rem 6rem;
  }
  max-width: inherit;
}

ol > li {
  margin-bottom: 1rem;
}

.text--info {
  color: $medium-gray;
}

.text--blue {
  color: var(--theme-color);
}

.text--gray {
  color: $medium-gray;
}

.text--light-gray {
  color: $light-gray;
}

.text--margin-top {
  margin-top: 1rem;
}

.text--margin-bottom {
  margin-bottom: 1rem;
}

.text--smaller {
  font-size: calc(1rem * 0.875);
  line-height: 1.125rem;
}

@import "components/forms";

.svg--white {
  color: $white;
  fill: $white;
}

.svg--blue {
  color: var(--theme-color);
  fill: var(--theme-color);
}

.svg--inline {
  height: 1rem;
  & + .svg--inline {
    margin-left: 0.75rem;
  }
}

.svg--inherit {
  color: inherit;
  fill: currentColor;
}

.icon--inline {
  height: 1rem;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  margin: 0 0.125rem 0 0.25rem;
  svg {
    height: 1rem;
  }
}

.divider--expanded {
  margin-left: -3rem;
  margin-right: -3rem;
  @include breakpoint(medium) {
    margin-left: initial;
    margin-right: initial;
  }
}

.instance__actions {
  display: flex;
  justify-content: space-between;
  .button {
    width: 47.5%;
  }
}

.spinner__wrapper {
  height: 100vh;
  background-color: $white;
}

.spinner {
  width: 10%;
  height: 10vh;
  position: relative;
  margin: 0 auto;
  top: 50vh;
}

:root {
  --theme-color: #8ba4c1;
}
